@page "/todos"

@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorToDo.Data.Models
@using Microsoft.AspNetCore.Authorization

@inject BlazorToDo.Data.ApplicationDbContext DB

@attribute [StreamRendering]
@attribute [Authorize]


<PageTitle>To Do</PageTitle>

<h1>Your To-Do List</h1>

<p>
    <a href="todos/create">Create New</a>
</p>

<QuickGrid Items="DB.TodoList">
    <PropertyColumn Property="todo => todo.Task" Title="Task" Sortable="true" Align="Align.Left" />
    <PropertyColumn Property="todo => todo.DueDate" Title="Due Date" Format="dd/MM/yyyy" Sortable="true" Align="Align.Left" />
    <PropertyColumn Property="todo => todo.Priority" Title="Priority" Sortable="true" Align="Align.Left" />
    <PropertyColumn Property="todo => todo.CreationTimestamp" Title="Creation Date" Format="dd/MM/yyyy" Sortable="true" Align="Align.Left" />

    <TemplateColumn Context="todo" Align="Align.Left">
        <a href="@($"todos/edit?id={todo.Id}")">Edit</a> |
        <a href="@($"todos/details?id={todo.Id}")">Details</a> |
        <a href="@($"todos/delete?id={todo.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>



