@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor To Do</h1>

<p>Welcome to Blazor To Do app.</p> 
<p>This application allows you to create and manage a to-do list.</p>

<p>Use the side panel to navigate to the desired page.</p>
    
<p>To view or modify your to-do list, navigate to the To Do page.</p>